<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>helP-Plz Signup</title>
</head> -->
<%- include('partials/header') -%>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div> <!-- bootstrap classes - different ways to add default style -->
        <% }) %>    
    <% } %>
    <!-- <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit">
    </form> -->

    <main class="container">
        <div class="row justify-content-center">
          <section class="col-6 mt-5">
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %> <% } %> <% if (locals.messages.info) { %> <%
            messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label for="userName" class="form-label">User Name</label>
                    <input type="text" name="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </section>
        </div>
      </main>
</body>
</html>
<%- include('partials/footer') -%>